@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	@variants responsive {
		/* Hide scrollbar for Chrome, Safari and Opera */
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
		.no-scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}
	}
}

/* Scroll bar stylings */
::-webkit-scrollbar {
	width: 15px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #5e6d75;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #21323b;
	border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* 
* {
	outline: 1px solid red;
}
 */
