.app {
	background: rgb(0, 79, 102);
	background: -moz-linear-gradient(0deg, rgba(0, 79, 102, 1) 0%, rgba(12, 57, 70, 1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(0, 79, 102, 1) 0%, rgba(12, 57, 70, 1) 100%);
	background: linear-gradient(0deg, rgba(0, 79, 102, 1) 0%, rgba(12, 57, 70, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004f66",endColorstr="#0c3946",GradientType=1);
}
